.icon-empty {
  font-size: 120px;
}

.itemPrice{
  color: var(--ion-color-theme);
  font-weight: 500;
  font-size: 15px;
}

.totalPrice{
  color: var(--ion-color-dark);
  font-weight: 600;
  font-size: 20px;
}
