.icon-empty {
  font-size: 120px;
}

.itemPrice{
  color: var(--ion-color-theme);
  font-weight: 500;
  font-size: 15px;
}

.totalPrice{
  color: var(--ion-color-dark);
  font-weight: 600;
  font-size: 20px;
}

.option, .extra {
  display:inline-block;
  margin: 1px 12px 1px 0;
  font-size:14px;
  font-weight: 400;
  color: var(--ion-color-medium);
}
