<ion-app>
  <ion-split-pane contentId="main-content">

    <!-- SIDEMENU -->
    <ion-menu color="dark" contentId="main-content">
      <ion-content>

        <ion-list>
          <ion-menu-toggle auto-hide="true">
            <ion-item lines="none" routerDirection="root" [routerLink]="['/home']" detail="false">
              <ion-icon slot="start" md="home" ios="home"></ion-icon>
              <ion-label>Home</ion-label>
            </ion-item>
            <ion-item lines="none" routerDirection="root" [routerLink]="['/home']" detail="false">
              <ion-icon slot="start" name="information-circle"></ion-icon>
              <ion-label>About us</ion-label>
            </ion-item>
            <ion-item lines="none" routerDirection="root" [routerLink]="['/home']" detail="false">
              <ion-icon slot="start" name="map-outline"></ion-icon>
              <ion-label>Our menu</ion-label>
            </ion-item>
            <ion-item lines="none" routerDirection="root" [routerLink]="['/home']" detail="false">
              <ion-icon slot="start" name="calendar"></ion-icon>
              <ion-label>Events</ion-label>
            </ion-item>
            <ion-item lines="none" >
              <ion-icon slot="start" name="pin"></ion-icon>
              <ion-label>Contacts</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-list-header><ion-label color="light">Order Online</ion-label></ion-list-header>
          <ion-menu-toggle auto-hide="true">
            <ion-item *ngFor="let category of categories" lines="none" routerDirection="root" [routerLink]="['/category-list', category.id]">
              <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
              <ion-label>{{ category.name }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>
    </ion-menu>
    <!-- END Sidemenu -->

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
