<ion-header class="ion-no-border" color="dark" [translucent]="true">
  <ion-toolbar>
    <div slot="start" id="banner"></div>
    <ion-buttons slot="start" class="ion-margin-top">
      <ion-menu-button>
        <ion-button class="round" fill="solid" color="danger">
          <ion-icon color="light" slot="icon-only" name="menu-outline"></ion-icon>
        </ion-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-img alt="logo" id="header_logo" src="assets/logo_off_the_menu.png"></ion-img>
    <ion-buttons slot="end" class="ion-margin-top">
      <ion-button class="round" fill="solid" color="success">
        <ion-icon color="light" slot="icon-only" name="call-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- SLIDESHOW -->
  <ion-slides pager="false">
    <ion-slide>
      <ion-text>
      <h1 *ngIf="category">{{ category.name }}</h1>
      <br />
      <h2 *ngIf="category">{{ category.description }}</h2>
      </ion-text>
    </ion-slide>
  </ion-slides>
  <!-- END Slideshow -->

  <!-- PRODUCTS LIST -->
  <ion-card  *ngFor="let item of products" class="ion-text-center ion-padding-top">
    <ion-item lines="none">
      <ion-button slot="start" size="medium" color="theme" class="price">${{ item.price }}</ion-button>
    </ion-item>
    <img [src]="item.image" />
    <h4 color="dark">{{ item.name }}</h4>
    <ion-item class="ion-padding-start ion-padding-end ion-text-center" lines="none">
      <ion-text>
        {{ item.description }}
      </ion-text>
    </ion-item>
    <ion-item class="ion-text-center" lines="none">
      <ion-label>
        <ion-button (click)="clickOnOrderNow(item)" fill="outline" color="dark">Order Now</ion-button>
      </ion-label>
    </ion-item>
  </ion-card>
  <!-- END Products List -->

  <!-- CART BUTTON -->
  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button color="light">
      <ion-icon name="basket-outline"></ion-icon>
      <ion-badge [color]="order.cart.length == 0 ? 'dark' : 'success'">{{ order.cart.length }}</ion-badge>
    </ion-fab-button>
  </ion-fab>
  <!-- END Cart Button -->
</ion-content>
