<ion-header class="ion-no-border" color="dark" [translucent]="true">
  <ion-toolbar>
    <div slot="start" id="banner"></div>
    <ion-buttons slot="start" class="ion-margin-top">
      <ion-menu-button>
        <ion-button class="round" fill="solid" color="danger">
          <ion-icon color="light" slot="icon-only" name="menu-outline"></ion-icon>
        </ion-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-img alt="logo" id="header_logo" src="assets/logo_off_the_menu.png"></ion-img>
    <ion-buttons slot="end" class="ion-margin-top">
      <ion-button class="round" fill="solid" color="success">
        <ion-icon color="light" slot="icon-only" name="call-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

</ion-content>
